name: Tests

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main

jobs:
  tests:
    name: Unit Tests
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository
        uses: actions/checkout@v1
      - name: Setup Python v3.11
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'
      - name: Install pyyaml
        run: pip install pyyaml
      - name: Run tests
        run: python test.py
